* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'League Spartan', sans-serif;
}

:root {
	--primary-100: #622200;
	--primary-50: #AA7753;
	--primary-25: #D5BBA9;
	
	--secondary-100: #4E4A24;
	--secondary-50: #95927C;
	--secondary-25: #DCDBD3;
	
	--neutral-100: #222;
	--neutral-50: #444;
	--neutral-25: #F5F5F5;
	
	--huge-title: 96px;
	--title: 48px;
	--subtitle: 32px;
	--content: 24px;
}

a {
	text-decoration: none;
}

/* Navbar Section */
nav.topnav {
	padding: 2rem 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav.topnav .menu-item {
	display: flex;
	
	gap: 2rem;
}

nav.topnav .menu-item a{
	font-size: var(--content);
	font-weight: 500;
	color: var(--primary-100);
}

/* Jumbotron Section */
main.jumbotron {
	position: relative;
	padding: 2rem 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 100vh;

}

main.jumbotron .decoration {
	transform: scale(1.2);
	position: absolute;
	top: 25%;
	left: 50%;
	
}

main.jumbotron .left-jumbotron {
	width: 90%;
}

main.jumbotron .left-jumbotron h1{
	font-size: var(--huge-title);
	font-weight: 600;
	margin-bottom: 2rem;
	color: var(--primary-100);
}

main.jumbotron .left-jumbotron p {
	font-size: var(--subtitle);
	color: var(--neutral-100);
	line-height: 3rem;
}

main.jumbotron .right-jumbotron img {
	width: 100%;
	justify-self: end;
	border-radius: 300px 300px 0 0;
}

/* Overview Section*/
.overview {
	margin-top: 10rem;
	padding: 2rem 10rem;
	display: flex;
	justify-content: center;
}

.overview .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 40px;
}

.overview .right .top h1 {
	font-size: var(--title);
	font-weight: 600;
	margin-bottom: 75px;
	color: var(--primary-100);
}

.overview .right .top p {
	margin-bottom: 75px;
	font-size: var(--subtitle);
	font-weight: 400;
	color: var(--neutral-100);
}

.overview .right .bottom {
	display: flex;
	gap: 75px;
}

.overview .right .bottom .achievments h1 {
	font-size: var(--huge-title);
	font-weight: 600;
	color: var(--secondary-100);
	text-align: center;
}

.overview .right .bottom .achievments p {
	margin-top: 10px;
	font-size: var(--subtitle);
	font-weight: 500;
	color: var(--neutral-100);
}

/* What We Offer Section */

.what-we-offer {
	margin-top: 200px;
	padding: 2rem 10rem;
	display: flex;
	flex-direction: column;
}

.what-we-offer > h1 {
	margin-bottom: 90px;
	font-size: var(--title);
	font-weight: 600;
	color: var(--primary-100);
	text-align: center;
}

.what-we-offer .cards {
	display: flex;
	justify-content: center;
	gap:20px;
}

.what-we-offer .cards .card {
	padding: 40px;
	border-radius: 10px;
	border: 2px solid var(--primary-100);
	transition: all 0.5s ease;
}

.what-we-offer .cards .card span {
	font-size: 100px;
	color: var(--primary-100);
	margin-bottom: 45px;
}

.what-we-offer .cards .card h1 {
	margin-bottom: 35px;
	font-size: var(--title);
	font-weight: 600;
	color: var(--primary-100);
}

.what-we-offer .cards .card p {
	font-size: var(--content);
	color: var(--neutral-100);
	line-height: 2.5rem;
}

.what-we-offer .cards .card:hover {
	background: var(--primary-100);
	cursor: pointer;
	transition: all 0.5s ease;
}

.what-we-offer .cards .card:hover h1, .what-we-offer .cards .card:hover p, .what-we-offer .cards .card:hover span{
	color: var(--neutral-25);
	transition: all 0.5s ease;
}

/* Filler Section */
.filler {
	position: relative;
	margin-top: 200px;
	padding: 2rem 10rem;
	display: flex;
	justify-content: center;
	gap: 100px;
}

.filler .decoration {
	position: absolute;
	top: -5%;
	left: 50%;
}

.filler h1 {
	font-size: var(--huge-title);
	font-weight: 600;
	align-self: center;
	color: var(--primary-100);
	line-height: 7rem;
}

.filler h1 span {
	color: var(--primary-50);
}

/* Portofolio Section */
.portofolio {
	margin-top: 200px;
	padding: 2rem 10rem;
	display: flex;
	flex-direction: column;
}

.portofolio h1 {
	margin-bottom: 100px;
	font-size: var(--title);
	color: var(--primary-100);
	text-align: center;
	font-weight: 600;
}

.portofolio .cards {
	display: grid;
	grid-template-columns: auto auto;
	gap: 100px;
	justify-content: center;
}

.portofolio .cards .card img {
	width: 100%;
}

.portofolio .cards .card .bottom {
	margin-top: 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.portofolio .cards .card .bottom .text h2 {
	font-size: var(--title);
	font-weight: 600;
	color: var(--primary-100);
}

.portofolio .cards .card .bottom .text p {
	margin-top: 35px;
	font-size: var(--subtitle);
	color: var(--secondary-100);
}

.portofolio .cards .card .bottom span {
	font-size: 85px;
	color: var(--primary-100);
}

.portofolio button {
	margin-top: 150px;
	width: fit-content;
	align-self: center;
	padding: 30px;
	border: none;
	outline: none;
	background: var(--secondary-25);
	font-size: var(--content);
	border-radius: 10px;
	font-weight: 500;
	color: var(--secondary-100);
}

/* Quotes Section*/
.quote {
	margin: 200px 10rem 200px;
	padding: 2rem 10rem;
	border-radius: 25px;
	height: 450px;
	display: flex;
	align-items: center;
	color: var(--neutral-25);
	font-size: var(--title);
	background: url('https://i.imgur.com/pPJwztX.png');
	background-repeat: no-repeat;
	background-size: cover;
}


.quote p {
	width: 70%;
}

/* Our Products Section*/
.products {
	display: flex;
	flex-direction: column;
	padding: 2rem 10rem;
}

.products h1 {
	margin-bottom: 100px;
	font-size: var(--title);
	color: var(--primary-100);
	text-align: center;
}

.products .cards {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	gap: 30px;
}

.products .cards .card {
	position: relative;
	transition: all 0.5s ease;
}

.products .cards .card:hover {
	transform: scale(1.05);
	transition: all 0.5s ease;
	cursor: pointer;
}

.products .cards .card p{
	width: 300px;
	position: absolute;
	bottom: 50px;
	padding: 30px;
	font-size: var(--title);
	background: var(--secondary-100);
	color: var(--neutral-25);
}

/* Testimonial Section */
.testimonials {
	margin-top: 200px;
	padding: 2rem 10rem;
	display: flex;
	flex-direction: column;
}

.testimonials h1 {
	margin-bottom: 100px;
	font-size: var(--title);
	font-weight: 600;
	color: var(--primary-100);
	text-align: center;
}

.testimonials .cards {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	
	gap: 30px;
}

.testimonials .cards .card {
	padding: 30px;
	background: var(--secondary-25);
	border-radius: 10px;
	transition: all 0.3s ease;
}

.testimonials .cards .card:hover {
	cursor: pointer;
	transform: rotate(-5deg);
	transition: all 0.3s ease;
}

.testimonials .cards .card .top {
	display: flex;
	gap: 30px;
}

.testimonials .cards .card .top .top-right {
	align-self: center;
}

.testimonials .cards .card .top .top-right p {
	margin-bottom: 10px;
	font-size: var(--subtitle);
	color: var(--primary-100);
	font-weight: 500;
}


.testimonials .cards .card .top .top-right .star-review i{
	font-size: 25px;
	color: var(--primary-100);
}

.testimonials .cards .card .bottom {
	margin: 90px 0;
}

.testimonials .cards .card .bottom p {
	font-size: var(--subtitle);
	color: var(--neutral-100);
}

/* Newsletter Section */
.newsletter {
	position: relative;
	margin: 200px 0 200px;
	padding: 2rem 10rem;
	height: 450px;
	display: grid;
	align-items: center;
	justify-content: center;
	background: var(--primary-100);
	color: var(--neutral-25);
}

.newsletter .decoration {
	position: absolute;
	left: 0;
	bottom: 0;
}

.newsletter p {
	margin-left: 5rem;
	font-size: var(--title);
}

.newsletter .input {
	width: 700px;
	height: 85px;
	border: 5px solid var(--neutral-25);
	border-radius: 100px;
	background: var(--primary-25);
	display: flex;
	padding: 10px 10px;
}

.newsletter .input input[type="email"] {
	background: transparent;
	flex: 1;
	border: none;
	outline: none;
	padding: 24px 20px;
	font-size: var(--content);
	color: var(--primary-100);
}

::placeholder {
	color: var(--primary-50);
}

.newsletter .input button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 75px;
	background: var(--primary-100);
	font-size: var(--content);
	color: var(--neutral-25);
	cursor: pointer;
}

footer {
	padding: 2rem 10rem;
	background: var(--primary-25);
	display: flex;
	gap: 70px;
}

footer .columns {
	margin: 85px 0;
	width: 25%;
	display: flex;
	flex-direction: column;
}

footer .columns p {
	margin: 2rem 0;
	font-size: var(--content);
	line-height: 2rem;
	color: var(--neutral-100);
}

footer .columns h2 {
	font-size: var(--title);
	color: var(--primary-100);
	margin-bottom: 50px;
}

footer .columns a {
	margin: 1rem 0;
	color: var(--neutral-100);
	font-size: var(--subtitle);
	font-weight: 500;
}

footer .columns .socmed-icons {
	display: flex;
	gap: 30px;
	margin-bottom: 60px;
}

footer .columns .socmed-icons i {
	font-size: 35px;
	color: var(--neutral-25);
	background: var(--primary-100);
	padding: 20px 22px;
	border-radius: 50px;
}

footer .columns .payment-methods {
	display: flex;
	gap: 2rem;
}

footer .columns .payment-methods .merchant {
	width: 30%;
	border-radius: 5px;
	align-self: center;
}

footer .columns .payment-methods .merchant img{
	width: 100%;
}

.copyright {
	padding: 2rem 10rem; 
	background: var(--secondary-25);
	font-size: var(--content);
	color: var(--secondary-100);
}
